ul {
    display: flex;
    margin-right: 10px;
}
li {
    margin-right: 15px;
    font-size: 22px;
    transition: 0.3s;
}

li a{
    color: #2B6E58;
    transition: 0.3s;
}

li a:hover{
    color: #42b18c;
}

li:nth-child(5) a {
    color: white;
    background-color: #2B6E58;
    padding: 4px 10px;
    border: 2px solid #95bdb0;
    border-radius: 21px;
    position: relative;
    bottom: 4px;
    position: relative;
    top: 2px;
}

li:nth-child(5) a:hover{
    text-decoration: none;
    background: #35886c;
}
