@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'DM Sans', sans-serif;
    background: #AEC4C4;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

@media screen and (max-width: 1500px){
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 1250px){
    html {
        font-size: 13px;
    }
}

@media screen and (max-width: 1000px){
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px){
    html {
        font-size: 11px;
    }
}

/* @media screen and (max-width: 650px){
    html {
        font-size: 10px;
    }
} */

*, ::before, ::after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, blockquote{
    font-family: 'Nanum Myeongjo', serif;
}



