
 <article>
    <a href="/articles/{{article._id}}">
        <div class="imgContainer">
            <img src="{{article.image}}" alt="">
        </div>
    </a>
    <h2><a href="/articles/{{article._id}}">{{article.title}}</a></h2>
    <section>
        <p>{{article.shortDescription}}...<a href="/articles/{{article._id}}" class="read-more"> read more</a></p>
        <section class="footerWrapper">
            <div class="category">
                <img [src]="tagUrl" alt="">
                <a>{{article.category}}</a>
            </div>
           <ng-container *ngIf="user">
            <button *ngIf="!hasLiked" class="forLater" data-id="{{article._id}}" (click)="save($event)">
                Save for later
            </button>
            <p #pElement [ngClass]="{hidden : !hasLiked}">
                <fa-icon class="emailIcon" class="emailIcon" [icon]="faCheck"></fa-icon>
                Saved
            </p>
           </ng-container>
        </section>
    </section>
    
</article>   