<div class="contentWrapper" *ngIf="data && !hasErrors" @enterAnim>
   <ng-container *ngFor="let therapist of data">
    <a routerLink="/therapists/{{ therapist._id }}" >
        <section  class="therapistWrapper animation">
          <div class="imgContainer">
            <div class="imgWrapper">
                <img [src]="therapist.img" alt="therapist image" />
              </div>
          </div>
          <div class="descritpionContainer">
            <h3>{{ therapist.firstName }} {{ therapist.lastName }}</h3>
            <p>{{ therapist.description | shorten: 500 }}</p>
          </div>
          <div class="contactContainer">
            <p class="phone-number">{{ therapist.phoneNumber }}</p>
            <a class="view-btn">View</a>
          </div>
        </section>
      </a>
   </ng-container>
   <app-scroll-arrow></app-scroll-arrow>
</div>

<app-error *ngIf="hasErrors"></app-error>

<app-loading *ngIf="!data"></app-loading>
