.pageWrapper{
    position: relative;
}

.blogContentWrapper {
    width: 60%;
    margin: auto;
    background: #f5f1ef;
   padding: 20px 30px;
    margin-top: 20px;
    text-align: justify;

}

h2 a{
    font-size: 45px;
    color: black;
}
a.read-more{
    font-style: italic;
    color: rgb(100, 97, 97);
    font-size: 22px;
}

p{
    font-size: 22px;
}


@media screen and (max-width: 1200px) {
    .blogContentWrapper {
        width: 80%;
    }
}


@media screen and (max-width: 700px) {
    .blogContentWrapper {
        width: 90%;
    }
}

