@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d6dbdd;
    background: #F4F7F8;
}

footer div {
    display: flex;
}

footer div h3{
    margin-right: 20px;
}

.copyright{
    font-size: 15px;
    color: #808485;
}

footer a{
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    transition: 0.2s;
}

footer a:hover{
    color: #2b6451;   
}

ul {
    padding: 0 0 5px 0;
    margin: 0;
}