<section>
    <div class="imgWrapper">
        <img [src]="backgroundImage" alt="">
    </div>
    <div class="reqtangle"></div>
    <article>
        <blockquote>
           <h3><span><span>"The </span> <span>happiness </span> <span>of </span> <span>your </span> <span>life </span></span> <div class="quote"> <span>depends </span> <span>on </span> <span>the </span> <span>quality </span> <span>of </span> <span>your </span> <span>thoughts."</span></div></h3>
            <span class="author">Marcus Aurelius</span>
        </blockquote>
    </article>    
</section>