section {
    background: rgb(241,212,199);
background: radial-gradient(circle, rgba(241,212,199,1) 31%, rgba(244,226,218,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.happy-mind-logo{
    margin-left: 12px;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.happy-mind-logo span:nth-child(1) {
    color: #EF7C8E;
    font-style: italic;
}

.happy-mind-logo span:nth-child(2) {
    color: #95bdb0;
}

.headerImg{
    width: 100px;
    opacity: 0.5;
}

