<div class="headerContainer">
    <header>
        <section class="happy-mind-logo">
            <a routerLink="/"><span>Happy</span> <span>Mind</span></a>
        </section>
        <nav>
            <ul>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/therapists/catalog">Find Therapist</a></li>
                <li><a routerLink="/articles">Articles</a></li>
                <ng-container *ngIf="!hasUser">
                    <li><a routerLink="/user/login">Login</a></li>
                    <li class="signupBtn"><a routerLink="/user/register">Get Started</a></li>
                </ng-container>
                <ng-container *ngIf="hasUser">
                    <li><a routerLink="/user/profile">Profile</a></li>
                    <li><a routerLink="/user/logout">Logout</a></li>
                </ng-container>
            </ul>
            
        </nav>
    </header>
</div>
