@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');


header{
    background: rgb(255,253,245);
    background: linear-gradient(142deg, rgba(255,253,245,1) 0%, rgba(255,253,240,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.75);
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 680px){
    header{
        flex-direction: column;
    }
 }


.happy-mind-logo{
    margin-left: 12px;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}

@media screen and (max-width: 1500px){
    .happy-mind-logo {
        font-size: 26px;
    }
 }

.happy-mind-logo span:nth-child(1) {
    color: #EF7C8E;
    font-style: italic;
}

.happy-mind-logo span:nth-child(2) {
    color: #95bdb0;
}

ul {
    display: flex;
    margin-right: 10px;
}

@media screen and (max-width: 680px){
    ul{
        flex-direction: column;
        align-items: center;
    }
 }

ul div {
    display: flex;
}


li {
    margin-right: 15px;
    font-size: 22px;
    transition: 0.3s;
}

@media screen and (max-width: 1500px){
    li, .signupBtn a{
        font-size: 20px;
    }
 }

 @media screen and (max-width: 850px){
    li, .signupBtn a {
        font-size: 18px;
    }
 }

li a{
    color: #1B392C;
    transition: 0.3s;
}

li a:hover{
    color: #42b18c;
}

.signupBtn a {
    color: white;
    background-color: #28503f;
    padding: 4px 10px;
    border: 2px solid #95bdb0;
    border-radius: 21px;
    position: relative;
    bottom: 4px;
    position: relative;
    top: 2px;
}

@media screen and (max-width: 680px){
    .signupBtn{
        margin-top: 10px;
    }
 }

.signupBtn a:hover{
    text-decoration: none;
    background: #35886c;
}
