.imgContainer {
    width: 800px;
    margin: auto;
    margin-top: 30px;
}

img{
    width: 100%; 
    height: 100%;
    /* border-bottom: 10px solid #BCECDD;
    border-right: 10px solid #BCECDD; */
    box-shadow: 10px 10px 61px -25px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 61px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 61px -25px rgba(0,0,0,0.75);
}

a, .imgContainer div h5 {
    font-size: 15px;
    font-style: italic;
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.happy-mind-logo {
    display: inline;
    background: rgb(255,253,245);
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
}

section.about-content .happy-mind-logo a{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.happy-mind-logo span:nth-child(1) {
    color: #EF7C8E;
    font-style: italic;
}

.happy-mind-logo span:nth-child(2) {
    color: #95bdb0;
}

.about-content p:nth-child(2) {
    display: inline;

}

.about-content {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5%;
}

.about-content p, .about-content a{
    font-size: 30px;
}
.about-content a{
    color: rgb(59, 58, 58); 
}

.about-content a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(102, 99, 99); 
}