<div class="imgContainer">
  <img [src]="imgPath" alt="" />
</div>
<section class="about-content">
    <div class="happy-mind-logo"><a routerLink="/home"><span>Happy</span> <span>Mind</span></a></div>
   <p>
    is a place where you can find articles for self-help and therapists who provide online therapy. The first and most important step toward healing is to seek help and you are almost there. <a routerLink="/find">Find your therapist now</a>.
   </p>
    <p>
        If you are a therapist and you want join, you can do it <a routerLink="/therapists/register">here</a>.
    </p>
  </section>
